<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  

    <link rel='stylesheet' href="/css/main.css">
    <link rel='stylesheet' href="/css/_custom.css">
    
   
    


    <title>My Chess App</title>
</head>

<body>

    {{{body}}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    
    
</body>

</html>